#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  height: 8vh;
  width: 100vw;
  background-color: #282c34;
  justify-content: space-between;
  padding: 1vw;
}

#header #title {
  font-size: calc(10px + 2vmin);
  color: white;
  flex-grow: 1;
}