#board {
  margin-top: 11vh;
}

#board #title {
  font-size: 3rem;
}

#boards {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-height: 100%;
  overflow-y: auto;
}

#boards .board-box {
  width: 220px;
  padding-bottom: 10px;
}

#boards .board-box .title {
  font-size: 1.7rem;
}

@media (max-width: 735px) {
  #boards {
    display: block;
  }

  #boards .board-box {
    margin: auto;
    margin-top: 20px;
  }
}